<div class="container modules">
  <div class="page" onclick="location.href='/join'">
    <div href="/join" class="page-content">
      <img src="/assets/img/join.webp" />
      <span class="page-number"><%= __("actions.modifications.join") %></span>
    </div>
  </div>
  <div class="page" onclick="location.href='/split'">
    <div href="/split" class="page-content">
      <img src="/assets/img/split.webp" />
      <span class="page-number"><%= __("actions.modifications.split") %></span>
    </div>
  </div>
  <div class="page" onclick="location.href='/reorder'">
    <div href="/reorder" class="page-content">
      <img src="/assets/img/reorder.webp" />
      <span class="page-number"><%= __("actions.modifications.reorder") %></span>
    </div>
  </div>
</div>
